@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply bg-color-secondary px-9 py-3  rounded-md
    capitalize font-bold hover:opacity-80 hover:scale-110 ease-in duration-200 shadow-lg shadow-gray-500;
}

.title{
   @apply text-3xl md:text-4xl font-bold leading-snug mb-4 ;
}

.blob1{
    @apply w-80 h-80 bg-color-secondary absolute top-0 -left-5 -z-10 blur-2xl  opacity-30 overflow-hidden rounded-full;
}

.blob2{
    @apply w-80 h-80 bg-color-secondary absolute bottom-0 right-0 z-10 blur-2xl  opacity-30 overflow-hidden rounded-full;
}

.card{
    perspective: 1000px;
}

.front,
.back{
    backface-visibility: hidden;
    transition: all 0.4s ease;

}
 .front{
    overflow: hidden;
 }

 .card_btn{
    @apply w-full px-9 py-3 bg-color-primary-light rounded-md capitalize font-bold hover:bg-color-secondary ease-in duration-200
 }